@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed&display=swap');

:root {
  --main-navigation-color: #97266d;
  --body-bg: #fed7e2;
  --brand-primary: #d53f8c;
  --font-family-sans-serif: 'Barlow Condensed', sans-serif;
}
